a, a:hover, a:visited, a:active {
	outline:none;
	border:none;
	text-decoration:none;
	color:#EEEEEE;
}
body {
}

tbody { display: block; }

tbody {
    overflow-y: auto;    /* Trigger vertical scroll    */
}

.monospace
{
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

#mid-cont
{
    background-color: #999;
}
#config_
{
    background-color: #bbb;
}
div.nav
{
	float:left;
	width:30px;
	height:20px;
	text-align:center;
	border:1px solid #8080AA;
	white-space:pre-wrap;
	background-color: #ffffff;
}
div.navBar
{
	float:left;
	width:5px;
	height:20px;
	text-align:center;
	border:1px solid #8080AA;
	white-space:pre-wrap;
	background-color: #ffffff;
}
div.navBar:hover
{
	background-color: #8080AA;
}
div.nav:hover
{
	background-color: #8080AA;
}

.tableCell {
    width:25px;
    height:20px;
    text-align:center;
}
.tableCellStandard {
    width:20px;
    height:20px;
    text-align:center;
    background-color: #66A;
}
.tableCellAdditional {
    width:20px;
    height:20px;
    text-align:center;
    background-color: #383;
}
.tableCell:hover {
    background-color: #777;
}
.tableCellStandard:hover {
    background-color: #88C;
}
.tableCellAdditional:hover {
    background-color: #5A5;
}
